.carousel {
    /* Force slides to appear all in one line */
    white-space: nowrap;

    /* Show transition while moving carousel */
    transition: transform 0.75s ease-out;
    display: flex;
    align-items: center;
}

.slide {
    flex: 0 0 90%;
    display: inline-block;
    padding: 0 1%;
    user-select: none;
    transition: all 0.5s linear;
    transform: scale(0.9);
    opacity: 0.25;
}

/* Increase paddings for first and last slides */
.slide:first-of-type {
    padding-left: 12.5%;
}

.slide:last-of-type {
    padding-right: 12.5%;
}

.slide.current {
    transform: scale(1);
    opacity: 1;
}

@media only screen and (min-width: 800px) {
    .slide {
        flex: 0 0 80%;
    }
}