.footer {
    background: var(--primary-color);
    font-size: 0.8rem;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
}

.contact {
    text-align: center;
}

.contact h2 {
    font-size: 3rem;
}

.contact p, .contact button {
    font-size: 1.5rem;
    margin-top: 1rem;
}

@media only screen and (min-width: 600px) {
    .contact {
        text-align: initial;
        /* Set overflow because of float in button */
        overflow: hidden;
    }

    .contact button {
        float: right;
    }
}