:root {
    --primary-color: #F4A261;
    --text: black;
    --background: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: white;
        --background: black;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--text);
}

html, body, #__next {
    height: 100%;
}

/* LINKS */
a {
    color: inherit;
}

/* BUTTON */
button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .75rem;
    background: var(--text);
    color: var(--background);
    transition: transform 250ms ease;
    font-weight: bold;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}