.hero {
    /* Wave in the background */
    background-image: url("/triangle.svg");
    background-position: bottom right;
    background-size: auto 60%;
    background-repeat: no-repeat;

    /* Remove navbar space */
    margin-top: calc(-6rem - 7px);
    
    /* Disable horizontal scroll caused by swiper */
    overflow: hidden;
}

.hero, .heroContent {
    display: flex;
    align-items: center;
}

.heroContent {
    flex-direction: column;
    padding: calc(6rem + 7px) 0; /* Padding same as navbar space */
}

.heroTextContainer {
    text-align: center;
    padding-bottom: 5rem;
}

.heroTextContainer > * + * {
    margin-top: 1rem;
}

.heroText {
    font-size: 1.75rem;
    font-weight: 700;
}

.heroText strong {
    color: var(--primary-color);
    text-decoration: underline 3px;
    text-decoration-style: wavy;
}

.heroTextContainer button {
    margin-top: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.heroProjects {
    position: relative;
}

.label {
    max-height: 50px;
    position: absolute;
    bottom: -2.5rem;
    right: 0;
}

.swiper, .browser {
    width: 100%;
    height: 100%;
}

.swiper {
    padding-bottom: 2rem;
}

.browser {
    overflow: hidden;
}

/* SKILLS SECTION */
.skilsSection {
    max-width: 60ch;
}

.skillsText {
    margin: 1rem 0 2rem;
}

/* LATEST PROJECT SECTION */

.latestProjectTitle, .moreProjects {
    margin: 0 auto;
}

.latestProjectTitle {
    width: 100%;
    max-width: 60ch;
}

.latestProject {
    margin: 2rem auto;
}

.moreProjects, .moreProjects:hover {
    box-shadow: none;
}

.moreProjects {
    display: block;
    background: var(--text);
    color: var(--background);
    font-size: 1rem;
}

@media only screen and (min-width: 800px) {
    .hero {
        background-size: 70% 70%;
    }

    .heroContent {
        flex-direction: row;
    }

    .heroContent > div {
        flex: 1;
    }

    .heroTextContainer {
        text-align: initial;
    }

    .heroTextContainer > * + * {
        margin-top: 0;
    }

    .heroText {
        font-size: 2.5rem;
        padding-bottom: 0;
        padding-right: 2rem;
    }

    .swiper {
        margin: 0 auto;
        max-width: 400px;
    }

    .latestProject {
        margin: 3rem auto 2rem;
    }
}