.img {
    cursor: pointer;
}

.alt {
    opacity: 0.9;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    text-align: center;
}

.modalImg {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
}