.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 !important;
}

.logo {
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-color);
}

.container, .links {
    z-index: 99;
}

.links a {
    color: black;
}

/* Only underline link if user is in that page */
.links a:not(.currentPage) {
    text-decoration: none;
}

/* Mobile */
@media only screen and (max-width: 600px) {
    .links a {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    /* Hide links if not open */
    .links:not(.mobile) a {
        display: none;
    }

    .mobileToggle {
        font-size: 1.75rem;
        cursor: pointer;
        user-select: none;
    }

    /* Animation to slide down the mobile navbar */
    @keyframes slideDown {
        from {transform: translateY(-100%);}
        to {transform: translateY(0);}
    }
    
    /* On mobile make the navbar links take the full screen */
    .mobile {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--primary-color);
        animation: slideDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    /* Display the ✖ in the same place as ☰ */
    .mobile .mobileToggle {
        position: absolute;
        top: 2rem;
        width: 80%;
        text-align: right;
    }
}

/* Desktop */
@media only screen and (min-width: 600px) {
    .links a:not(:last-of-type) {
        margin-right: 5rem;
    }

    .mobileToggle {
        display: none;
    }
}