.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    min-height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
}

.container .ft {
    object-fit: contain;
    object-position: center;

    /* Drop shadow */
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.1));

    position: absolute;
    bottom: 0; left: 0;
    max-width: 300px;
    max-height: 250px;
    transform-origin: bottom;
    transform: translate(-20%, 10%) rotate(10deg);
    opacity: 0.1;
}

.content {
    grid-column: 1 / -1;
    grid-row: 1;
    background: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.content > * {
    z-index: 1;
}

.content p {
    padding: 1rem 0;
    margin: auto 0;
}

.links {
    display: flex;
}

.links a {
    --background: rgba(0, 0, 0, 0.5);
    --text: white;
    color: var(--text);
    display: inline-block;
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: var(--background);
    transition: color 0.5s, background-color 0.5s;
}

.links a:hover {
    --background: white;
    --text: black;
}

.links svg {
    display: block;
    width: 25px;
    height: 25px;
}

.links button {
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    .content {
        background: rgba(34, 34, 34, 0.95);
    }
}

@media only screen and (min-width: 600px) {
    .container {
        align-items: center;
        border-radius: 0;
        box-shadow: none;
        overflow: initial;
    }

    .container:nth-of-type(2n) .ft {
        grid-column: 2 / span 2;
    }
    .container:nth-of-type(2n) .content {
        grid-column: 1 / span 2;
    }

    .container .ft {
        grid-column: 1 / span 2;
        grid-row: 1;
        max-width: none;
        max-height: 300px;
        width: 100%;
        position: initial;
        transform: none;
        opacity: 1;
        z-index: 0;
    }

    .content {
        grid-column: 2 / span 2;
        backdrop-filter: blur(2px);
        box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
        z-index: 1;
    }
}