.container {
    padding: 2rem;
    text-align: center;
    max-width: 1200px;
    --author: #333;
}

.author, .jobTitle {
    color: var(--author);
}

.author {
    display: block;
    margin-top: 1.5rem;
}

.jobTitle {
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

.quote {
    position: relative;
    font-size: 2rem;
    white-space: pre-wrap;
}

.quote strong {
    color: var(--primary-color);
}

.quote:before, .quote:after {
    position: absolute;
    color: var(--primary-color);
    opacity: 0.3;
	font-size: 8rem;
    font-weight: 800;
	width: 4rem;
	height: 4rem;
}

.quote:before {
	content: '“';
	left: -3rem;
	top: -2rem;
}

.quote:after {
	content: '”';
	right: -3rem;
	bottom: 0;
}

@media (prefers-color-scheme: dark) {
    .container {
        --author: #eee;
    }
}