.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 7rem);
    justify-content: center;
    gap: 1rem;
}

.skill {
    background: #e8e8e8;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
}

.skill img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.skill p {
    font-size: 0.9rem;
}

@media (prefers-color-scheme: dark) {
    .skill {
        background: #2c2c2c;
    }
}