.swiper {
    position: relative;
    perspective: 150vw;

    /* Center Swipable cards */
    display: flex;
    align-items: center;
    justify-content: center;
}

.swipable {
    /* Center items */
    position: absolute;

    cursor: move;
    user-select: none;
    transition: all ease 0.5s;
    transform-origin: bottom;
}

/* Remove transition while moving items */
.moved {
    transition: none;
}